<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="img/fav.png">
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"></script>

  
	<title>Step Heaven</title>
	<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="/css/linearicons.css">
			<link rel="stylesheet" href="/css/font-awesome.min.css">
			<link rel="stylesheet" href="/css/themify-icons.css">
			<link rel="stylesheet" href="/css/bootstrap.css">
			<link rel="stylesheet" href="/css/owl.carousel.css">
			<link rel="stylesheet" href="/css/nice-select.css">
			<link rel="stylesheet" href="/css/nouislider.min.css">
			<link rel="stylesheet" href="/css/ion.rangeSlider.css" />
			<link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
			<link rel="stylesheet" href="/css/main.css">


			<!-- image zoom cdn  -->
	
			<script defer src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"></script>

			<!--  -->

		<!-- icon -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!--  -->
		<style>
			  .medium-zoom-overlay {
            background-color: rgba(0, 0, 0, 0.8);
        }
        .zoom-img {
            z-index: 10;
        }
		</style>
</head>

<body>
	<!-- flash message -->
	<%# if (locals.successMessage && locals.successMessage.length > 0) { %>
        <!-- <div id="successAlert" class="alert alert-success" role="alert"
        style="position: absolute;top: 0;right: 0;z-index: 50;left: 0;"
        >
          <%# = locals.successMessage %>
        </div> -->
      <%# } %>
      
      <%# if (locals.errorMessage && locals.errorMessage.length > 0) { %>
        <!-- <div id="errorAlert" class="alert alert-danger" role="alert"
        style="position: absolute;top: 0;right: 0;z-index: 50;left: 0;"
        > -->
          <%# = locals.errorMessage %>
        <!-- </div> -->
      <%# } %>
	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto align-items-center justify-content-center">
							<li class="nav-item active"><a class="nav-link" href="/" style="color: #ff6c00;">Home</a></li>
							<li class="nav-item">
								<a href="/shop" class="nav-link" style="color: #ff6c00;">Shop</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#" style="color: #ff6c00;">Contact</a></li>
							<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag" style="font-size: 1.3rem;color: #ff6c00;"></span></a></li>
							<li class="nav-item">
								<button class="search" style="border: none;outline: none;background-color: transparent;"><span class="lnr lnr-magnifier" id="search" style="font-size: 1.3rem;color: #ff6c00;"></span></button>
							</li>
							<li class="nav-item">
								<a href="/wishlist" class="nav-link" ><span class="bi bi-heart-fill" style="font-size: 1.3rem;color: #ff6c00;"></span></a>
							</li>
							<li class="nav-item">
								 <button style="font-size: 1.2rem;
							padding: 10px 15px;
							border-radius: 27px;
							border: none;
							background-image: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%) !important;
							outline: none;"><a href="/orderhistroy" style="color:#ffff;">Order history</a></button>
							</li>
							<li class="nav-item mx-3">
								<a href="/profile" class="nav-link" 
								 aria-expanded="false"><button class="btn-primary" style="font-size: 2.5rem;border: none;outline: none; background-color: transparent;"><i class="bi bi-person-circle" style="color: #ff6c00;"></i></button></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/shop">Shop<span class="lnr lnr-arrow-right"></span></a>
						<p>product-details</p>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid zoom-img" src="<%=product.variants[0].imageUrls[0]%>" alt="img">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid zoom-img" src="<%=product.variants[0].imageUrls[1]%>" alt="img">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid zoom-img" src="<%=product.variants[0].imageUrls[2]%>" alt="img">
						</div>
					</div>
				</div>
				
				<div class="col-lg-5 offset-lg-1">
					<form action="/addToCart" method="post">
						<div class="s_product_text">
							<input type="hidden" name="productId" value="<%=product._id %>">
							<h3><%=product.name %></h3>
							<h2>₹<%=product.price %></h2>
							<ul class="list">
								<li><a href="#"><span>Availibility</span> :<%=(product.variants[0].stock>0)?"In Stock":"Out of Stock"  %></a></li>
							</ul>
							<p>
								Description: <%=product.description %>
							</p>
							<div class="product_count">
								<label for="qty">Quantity:</label>
								<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty" readonly>
								<button onclick="changeQuantity(1)" class="increase items-count" type="button">
									<i class="lnr lnr-chevron-up"></i>
								</button>
								<button onclick="changeQuantity(-1)" class="reduced items-count" type="button">
									<i class="lnr lnr-chevron-down"></i>
								</button>
							</div>
                            <div class="row mx-1 mb-3">
                                <label for="variantColor" style="display: block;">Color:</label>
													<select class="mx-3" name="variantColor" id="variantColor" style="width: 50%; padding: 5px;" required>
														<% product.variants.forEach(function(variant) { %>
															<option value="<%= variant.color %>"><%= variant.color %></option>
														<% }); %>
													</select>
                            </div>
                            <div class="row mx-1 mb-2">
                                <label for="variantSize" style="display: block;">Size:</label>
													<select class="mx-5" name="variantSize" id="variantSize" style="width: 50%; padding: 5px;" required>
														<% product.variants.forEach(function(variant) { %>
															<option value="<%= variant.size %>"><%= variant.size %></option>
														<% }); %>
													</select>
                            </div>
							<div class="card_area d-flex align-items-center mt-4">
								<button class="primary-btn" type="submit" style="border: none;outline: none;">ADD TO CART</button>
								<a class="icon_btn" href="/wishlist/add/<%= encodeURIComponent(product._id) %>"><i class="lnr lnr lnr-heart"></i></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

    <!-- related product start -->
   
	<div class="container mt-5" style="height: 550px;">
     <h1 class="text-capitalize text-center" style="font-size: 3rem;">Related products</h1>
	 <div class="row align-items-center justify-content-around"
     style="height: 500px; overflow-x: auto; display: flex; flex-direction: row;">
    <% if(allProducts && allProducts.length > 0) { %>
        <% allProducts.forEach(function(product) { %>
            <div class="col-4 single-product" style="width: 250px; height: auto; flex: 0 0 auto;">
                <a href="/productDetails/<%= encodeURIComponent(product._id) %>">
                    <img class="img-fluid" src="<%= product.variants[0]?.imageUrls[0] %>" alt="img">
                </a>
                <div class="product-details">
                    <h6><%= product.name %></h6>
                    <div class="price">
                        <h6>₹<%= product.price %></h6>
                        <h6 class="l-through">₹<%= product.price + 5000 %></h6>
                    </div>
                    <!-- <div class="prd-bottom">
                        <a href="/addToCart/<%# = encodeURIComponent(product._id) %>" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">add to cart</p>
                        </a>
                        <a href="/wishlist/add/<%# = encodeURIComponent(product._id) %>" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Wishlist</p>
                        </a>
                    </div> -->
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <p class="text-center">No products found.</p>
    <% } %>
      </div>
	</div>


	<!-- related product end -->
	
	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true">Description</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="profile"
					 aria-selected="false">Specification</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="/contact" role="tab" aria-controls="contact"
					 aria-selected="false">Comments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#" role="tab" aria-controls="review"
					 aria-selected="false">Reviews</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>.....</p>
					<p>.....</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>Width</h5>
									</td>
									<td>
										<h5>128mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Height</h5>
									</td>
									<td>
										<h5>508mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Depth</h5>
									</td>
									<td>
										<h5>85mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Weight</h5>
									</td>
									<td>
										<h5>52gm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Quality checking</h5>
									</td>
									<td>
										<h5>yes</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Freshness Duration</h5>
									</td>
									<td>
										<h5>03days</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>When packeting</h5>
									</td>
									<td>
										<h5>Without touch of hand</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Each Box contains</h5>
									</td>
									<td>
										<h5>60pcs</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="comment_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-1.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>.....</p>
								</div>
								<div class="review_item reply">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-2.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>.....</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-3.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>.....</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Post a comment</h4>
								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>Overall</h5>
										<h4>4.0</h4>
										<h6>(03 Reviews)</h6>
									</div>
								</div>
								<div class="col-6">
									<div class="rating_list">
										<h3>Based on 3 Reviews</h3>
										<ul class="list">
											<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="review_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-1.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>.....</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-2.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>.....</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-3.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>.....</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Add a Review</h4>
								<p>Your Rating:</p>
								<ul class="list">
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
								<p>Outstanding</p>
								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="primary-btn">Submit Now</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->


	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row ">
				<div class="col-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Brand</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="img/brand/img1.jpg" alt=""></li>
							<li><img src="img/brand/img2.jpg" alt=""></li>
							<li><img src="img/brand/img3.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-6  d-flex justify-content-end align-content-center">
					<div class="single-footer-widget  w-50">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
Copyright &copy;&nbsp;<script>document.write(new Date().getFullYear());</script> 
</p>
			</div>
		</div>
	</footer>


  <script>
	let currentStock = <%= product.variants[0].stock %>; 
    let currentQuantity = 1;

    function changeQuantity(change) {
         let newQuantity = currentQuantity + change;
         if (newQuantity > 0 && newQuantity <= currentStock) {
         currentQuantity = newQuantity;
         document.getElementById('sst').value = currentQuantity;
        }
    }

// Image zoom start functionality
document.addEventListener('DOMContentLoaded', function() {
  const zoom = mediumZoom('.zoom-img', {
    background: '#000',
    scrollOffset: 40,

  });


  document.addEventListener('click', function(event) {
    if (!event.target.classList.contains('zoom-img')) {
      zoom.close();
    }
  });


  document.addEventListener('keydown', function(event) {
    if (event.key === 'Escape') {
      zoom.close();
    }
  });
});
   // Function to hide an  (flash message) element
   function hideElement(elementId) {
          const element = document.getElementById(elementId);
          if (element) {
            setTimeout(() => {
              element.style.transition = 'opacity 0.5s ease-out';
              element.style.opacity = '0';
              setTimeout(() => {
                element.style.display = 'none';
              }, 500);
            }, 2000);
          }
        }
      
        // Hide alerts
        hideElement('successAlert');
        hideElement('errorAlert');


  </script>
	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html> 