<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="shortcut icon" href="img/fav.png">
    <title>Step Heaven</title>
    <!-- css link  -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/main.css">
    <!--  -->
    <!-- script -->
    <script defer src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script defer src="/js/vendor/bootstrap.min.js"></script>
    <script defer src="/js/jquery.ajaxchimp.min.js"></script>
    <script defer src="/js/jquery.nice-select.min.js"></script>
    <script defer src="/js/jquery.sticky.js"></script>
    <script defer src="/js/nouislider.min.js"></script>
    <script defer src="/js/countdown.js"></script>
    <script defer src="/js/jquery.magnific-popup.min.js"></script>
    <script defer src="/js/owl.carousel.min.js"></script>
    <script defer src="/js/main.js"></script>
    <!--  -->
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <style>
        /* offer ribbon */
		.offerRibbon{
			
			width: 100%;
			height: 45px;
			position: absolute;
			z-index: 20;
			text-align: center;
			margin-left: -104px;
			margin-top: 20px;
			transform: rotate(-40deg);
			padding-top: 10px;
			background-color: #ff6c00;
		}

		.offerRibbon > span{
		
		    font-weight: 700;
			font-size: 1.5rem;
			color: #ffff;

		}

        body::-webkit-scrollbar{
            display: none;
        }

    </style>

</head>
<body id="category">
    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                 
                    <a class="navbar-brand logo_h" href="/"><img src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
               
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto align-items-center justify-content-center">
                            <li class="nav-item active"><a class="nav-link" href="/" style="color: #ff6c00;">Home</a></li>
                            <li class="nav-item">
                                <a href="/shop" class="nav-link" 
                                    aria-expanded="false" style="color: #ff6c00;">Shop</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/contact" style="color: #ff6c00;">Contact</a></li>
                            <li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag" style="font-size: 1.3rem;color: #ff6c00;"></span></a></li>
                            <li class="nav-item">
                                <button class="search" style="border: none;outline: none;background-color: transparent;"><span class="lnr lnr-magnifier" id="search" style="font-size: 1.3rem;color: #ff6c00;"></span></button>
                            </li>
                            <li class="nav-item">
                                <a href="/wishlist" class="nav-link" 
                                    aria-expanded="false"><span class="bi bi-heart-fill" style="font-size: 1.3rem;color: #ff6c00;"></span></a>
                            </li>
                            <li class="nav-item">
                                <button style="font-size: 1.2rem;
                            padding: 10px 15px;
                            border-radius: 27px;
                            border: none;
                            background-image: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%) !important;
                            outline: none;"><a href="/orderhistory" style="color:#ffff;">Order history</a></button>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="/profile" class="nav-link"
                                    aria-expanded="false"><button class="btn-primary" style="font-size: 2.5rem;border: none;outline: none; background-color: transparent;"><i class="bi bi-person-circle" style="color: #ff6c00;"></i></button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                
                <form action="/shop" method="GET" class="d-flex justify-content-between">
                      <input type="text"  name="search" class="form-control" placeholder="Search products" id="search_input">
                      <!-- <button type="submit" class="btn btn-primary">Search</button> -->
                     <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                  </form>

                
                <form >
                 
                   
                </form>
            </div>
        </div>
    </header>
    <!-- End Header Area -->
   
     
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shop Category page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/shop">
                            <p>Shop</span></p>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 mb-3">
          <div class="row" style="float: right;">
            <!-- <div class="border border-danger"> -->
                <input type="search" id="nameSearch" class="rounded border px-3 mx-2" placeholder="Search by name" style="outline: none;" value="<%= query.search || '' %>">
                <button id="searchButton" class="btn"><span><i class="bi bi-search"></i></span></button>
                <a href="/shop" class="px-3">
                    <button class="btn btn-primary">
                        <span><i class="bi bi-arrow-clockwise"></i></span>
                    </button>
                </a>
            
            <!-- <form action="/shop" method="GET" class="form-inline justify-content-end">
                <select name="sort" class="form-control mr-2" onchange="this.form.submit()">
                  <option value="">Sort by</option>
                  <option value="nameAsc">Name A-Z</option>
                  <option value="nameDesc">Name Z-A</option>
                  <option value="priceAsc">Price Low to High</option>
                  <option value="priceDesc">Price High to Low</option>
                </select>
            </form> -->

            <form action="/shop" method="GET" class="form-inline justify-content-end">
                <select name="sort" class="form-control mr-2" onchange="this.form.submit()">
                  <option value="">Sort by</option>
                  <option value="nameAsc" <%= query.sort === 'nameAsc' ? 'selected' : '' %>>Name A-Z</option>
                  <option value="nameDesc" <%= query.sort === 'nameDesc' ? 'selected' : '' %>>Name Z-A</option>
                  <option value="priceAsc" <%= query.sort === 'priceAsc' ? 'selected' : '' %>>Price Low to High</option>
                  <option value="priceDesc" <%= query.sort === 'priceDesc' ? 'selected' : '' %>>Price High to Low</option>
                </select>
                
               
                <% for (const [key, value] of Object.entries(query)) { %>
                  <% if (key !== 'sort' && key !== 'page') { %>
                    <input type="hidden" name="<%= key %>" value="<%= value %>">
                  <% } %>
                <% } %>
              </form>
          <!-- </div>// -->
        </div>
          
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head" style="background-color: #ff6c00;color: #ffff;">Browse Categories</div>
				<ul class="main-categories">
                    <% if(uniqueCategories && uniqueCategories.length > 0) { %>
                      <% uniqueCategories.forEach(function(category) { %>
                        <li class="main-nav-list mt-2 mb-2">
                            <a href="#" class="category-link" data-category="<%= category.toLowerCase() %>"
                               style="color: <%= (query.category === category.toLowerCase()) ? '#ffff' : '#292929' %>; 
                                      background-color: <%= (query.category === category.toLowerCase()) ? '#ff6c00' : 'transparent' %>; 
                                      text-decoration: none; 
                                      display: block; 
                                      padding: 5px 10px; 
                                      border-radius: 5px;">
                                <span class="text-capitalize text-center"><%= category %></span>
                            </a>
                        </li>
                      <% }) %>
                    <% } %>
                  </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="common-filter">
                    <div class="head" style="background-color: #ff6c00;color: #fff;">Genders</div>
                    <ul>
                        <li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
    style="background-color: <%= (query.gender === 'mens') ? '#ff6c00' : 'transparent' %>;">
    <a href="#" class="mx-4 gender-link" data-gender="mens"
       style="color: <%= (query.gender === 'mens') ? '#ffff' : '#292929' %>; text-decoration: none;">
        <span>Mens</span>
    </a>
</li>
<li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
style="background-color: <%= (query.gender === 'womens') ? '#ff6c00' : 'transparent' %>;">
<a href="#" class="mx-4 gender-link" data-gender="womens"
   style="color: <%= (query.gender === 'womens') ? '#ffff' : '#292929' %>; text-decoration: none;">
    <span>Women's</span>
</a>
</li>
                    </ul>
                    
                </div>
                <div class="common-filter">
                    <div class="head" style="background-color: #ff6c00;color: #ffff;">Brands</div>
                    <ul>
                        <% uniqueBrands.forEach(function(brandName) { %>
                            <li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
                                style="background-color: <%= (query.brand === brandName) ? '#ff6c00' : 'transparent' %>;">
                                <a href="#" class="mx-4 brand-link" data-brand="<%= brandName %>"
                                   style="color: <%= (query.brand === brandName) ? '#ffff' : '#292929' %>; text-decoration: none;">
                                    <span class="text-capitalize text-center"><%= brandName %></span>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <section class="lattest-product-area pb-40 category-list">
                <div class="row flex-wrap shadow justify-content-around" style="height: 78em;">
                    <% if(products && products.length >= 0) { %>
                        <% products.forEach(function(product) { %>

                        <% if(product?.deleted===false){ %>
                            <div class="col-3 single-product shadow my-5 p-3" style="width: 250px;height: 480px;position: relative;overflow: hidden;">
                                <% if(product?.offerHasApplied) { %>
                                    <div class="offerRibbon">
                                        <span>
                                            offer
                                        </span>
                                    </div>
                                <% } %>
                                <a href="/productDetails/<%= encodeURIComponent(product._id) %>">
                                    <img class="img-fluid" src="<%= product?.variants[0]?.imageUrls[0] %>" alt="img">
                                </a>
                                <div class="product-details">
                                    <h6><%= product?.name %></h6>
                                    <div class="price">
										<% if(product?.offerHasApplied){ %>
                                        <h6>₹<%= product?.discountedPrice %></h6>
                                        <span>
											<h6 class="l-through">₹<%= product?.price %></h6>
										    <%=product?.category?.discountPercentage%>% off
										</span>
										<% }else{ %>
                                        <h6>₹<%= product?.price %></h6>
                                        <% } %>
                                    </div>
                                    <h6>Gender: <%=product?.gender  %></h6>
                                    <h6>Category: <%=product?.category?.name  %></h6>
                                    <h6>band: <%=product?.brand  %></h6>
                                    <div class="prd-bottom d-flex justify-content-around align-items-center">
                                        <a href="/productDetails/<%= encodeURIComponent(product._id) %>">
                                            <button class="btn">
                                                View Details
                                            </button>
                                        </a>
                                        <a  href="/wishlist/add/<%= encodeURIComponent(product._id) %>" class="social-info">
                                            <span class="lnr lnr-heart"></span>
                                            <p class="hover-text">Wishlist</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        <% }) %>
                    <% } else { %>
                        <p class="text-center m-auto fa-2x"><b>No products found.</b></p>
                    <% } %>
                </div>
            </section>
	
           <!-- pagination -->

           <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <% for(let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                  <a class="page-link" href="/shop?page=<%= i %><%= Object.entries(query).filter(([key]) => key !== 'page').map(([key, value]) => `&${key}=${value}`).join('') %>">
                    <%= i %>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
          

        </div>
    </div>
</div>

    <!-- Start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Brand</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src="img/i1.jpg" alt=""></li>
                            <li><img src="img/i2.jpg" alt=""></li>
                            <li><img src="img/i3.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-content-center">
                    <div class="single-footer-widget w-50">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    Copyright &copy;&nbsp;<script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </footer>
   

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const categoryLinks = document.querySelectorAll('.category-link');
        const brandLinks = document.querySelectorAll('.brand-link');
        const genderLinks = document.querySelectorAll('.gender-link');
        const nameSearch = document.getElementById('nameSearch');
        const searchButton = document.getElementById('searchButton');

            let currentFilters = new URLSearchParams(window.location.search);

            
            function updateFilters(paramName, value) {
        if (value) {
            currentFilters.set(paramName, value);
        } else {
            currentFilters.delete(paramName);
        }
        fetchAndUpdateContent(`/shop?${currentFilters.toString()}`);
    }

        
    categoryLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const category = this.getAttribute('data-category');

            if (currentFilters.get('category') === category) {
                currentFilters.delete('category');
                this.style.backgroundColor = 'transparent';
                this.style.color = '#292929';
                this.style.textDecoration = 'none';
                this.style.display = 'block';
                this.style.width = '100%'
            } else {
                currentFilters.set('category', category);
                categoryLinks.forEach(l => {
                    l.style.backgroundColor = 'transparent';
                    l.style.color = '#292929';
                    
                });
                this.style.backgroundColor = '#ff6c00';
                this.style.color = '#ffff';
                this.style.width = '100%'
            }

            fetchAndUpdateContent(`/shop?${currentFilters.toString()}`);
        });
    });

    brandLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const brand = this.getAttribute('data-brand');

                if (currentFilters.get('brand') === brand) {
            // Deselect the current brand
            currentFilters.delete('brand');
            this.parentElement.style.backgroundColor = 'transparent';
            this.style.color = '#292929';
        } else {
            // Select the new brand and deselect others
            currentFilters.set('brand', brand);
            brandLinks.forEach(link => {
                link.parentElement.style.backgroundColor = 'transparent';
                link.style.color = '#292929';
            });
            this.parentElement.style.backgroundColor = '#ff6c00';
            this.style.color = '#ffff';
        }

            

                fetchAndUpdateContent(`/shop?${currentFilters.toString()}`);
            });
        });

        genderLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const gender = this.getAttribute('data-gender');
                
                if (currentFilters.get('gender') === gender) {
                    currentFilters.delete('gender');
                    this.parentElement.style.backgroundColor = 'transparent';
                    this.style.color = '#292929';
                } else {
                    currentFilters.set('gender', gender);
                    genderLinks.forEach(l => {
                        l.parentElement.style.backgroundColor = 'transparent';
                        l.style.color = '#292929';
                    });
                    this.parentElement.style.backgroundColor = '#ff6c00';
                    this.style.color = '#ffff';
                }

                fetchAndUpdateContent(`/shop?${currentFilters.toString()}`);
            });
        });
        
    searchButton.addEventListener('click', function() {
        updateFilters('search', nameSearch.value);
    });

    nameSearch.addEventListener('keyup', function(e) {
        if (e.key === 'Enter') {
            updateFilters('search', this.value);
        }
    });
        
            // Convert jQuery AJAX calls to fetch
            document.querySelector('.search').addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('search_input_box').style.display = 'block';
                document.getElementById('search_input').focus();
            });
        
            document.getElementById('close_search').addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('search_input_box').style.display = 'none';
            });
        
            // Handle form submissions
            document.querySelectorAll('form').forEach(form => {
                form.addEventListener('submit', function(e) {
                    e.preventDefault();
                    const formData = new FormData(this);
                    const searchParams = new URLSearchParams(formData);
        
                    fetchAndUpdateContent(`${this.action}?${searchParams.toString()}`);

                });
            });


            function fetchAndUpdateContent(url) {
        fetch(url)
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                
                // Update only the product list and pagination
                const productList = doc.querySelector('.lattest-product-area');
                const pagination = doc.querySelector('.pagination');
                
                if (productList) {
                    document.querySelector('.lattest-product-area').innerHTML = productList.innerHTML;
                }
                if (pagination) {
                    document.querySelector('.pagination').innerHTML = pagination.innerHTML;
                }

                  // Update active states
                  updateActiveStates(doc);

                   // Update search input
                const newSearchInput = doc.getElementById('nameSearch');
                if (newSearchInput) {
                    nameSearch.value = newSearchInput.value;
                }


                history.pushState(null, '', url);
                currentFilters = new URLSearchParams(url.split('?')[1]);
            })
            .catch(error => console.error('Error:', error));
    }

    function updateActiveStates(doc) {
        const newCategoryLinks = doc.querySelectorAll('.category-link');
        categoryLinks.forEach((link, index) => {
            const newLink = newCategoryLinks[index];
            link.style.backgroundColor = newLink.style.backgroundColor;
            link.style.color = newLink.style.color;
        });


        const newBrandLinks = doc.querySelectorAll('.brand-link');
        const selectedBrands = currentFilters.getAll('brand');
        brandLinks.forEach((link, index) => {
            const brand = link.getAttribute('data-brand');
            if (selectedBrands.includes(brand)) {
                link.parentElement.style.backgroundColor = '#ff6c00';
                link.style.color = '#ffff';
            } else {
                link.parentElement.style.backgroundColor = 'transparent';
                link.style.color = '#292929';
            }
        });

        const newGenderLinks = doc.querySelectorAll('.gender-link');
            genderLinks.forEach((link, index) => {
                const newLink = newGenderLinks[index];
                link.parentElement.style.backgroundColor = newLink.parentElement.style.backgroundColor;
                link.style.color = newLink.style.color;
            });



    }




        });
        </script>


   
</body>
</html>
