<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="shortcut icon" href="img/fav.png">
    <title>Step Heaven</title>
    <!-- css link  -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/main.css">
    <!--  -->
    <!-- script -->
    <script defer src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script defer src="/js/vendor/bootstrap.min.js"></script>
    <script defer src="/js/jquery.ajaxchimp.min.js"></script>
    <script defer src="/js/jquery.nice-select.min.js"></script>
    <script defer src="/js/jquery.sticky.js"></script>
    <script defer src="/js/nouislider.min.js"></script>
    <script defer src="/js/countdown.js"></script>
    <script defer src="/js/jquery.magnific-popup.min.js"></script>
    <script defer src="/js/owl.carousel.min.js"></script>
    <script defer src="/js/main.js"></script>
    <!--  -->
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body id="category">
    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                 
                    <a class="navbar-brand logo_h" href="/"><img src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
               
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto align-items-center justify-content-center">
                            <li class="nav-item active"><a class="nav-link" href="/" style="color: #ff6c00;">Home</a></li>
                            <li class="nav-item">
                                <a href="/shop" class="nav-link" 
                                    aria-expanded="false" style="color: #ff6c00;">Shop</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/contact" style="color: #ff6c00;">Contact</a></li>
                            <li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag" style="font-size: 1.3rem;color: #ff6c00;"></span></a></li>
                            <li class="nav-item">
                                <button class="search" style="border: none;outline: none;background-color: transparent;"><span class="lnr lnr-magnifier" id="search" style="font-size: 1.3rem;color: #ff6c00;"></span></button>
                            </li>
                            <li class="nav-item">
                                <a href="/wishlist" class="nav-link" 
                                    aria-expanded="false"><span class="bi bi-heart-fill" style="font-size: 1.3rem;color: #ff6c00;"></span></a>
                            </li>
                            <li class="nav-item">
                                <button style="font-size: 1.2rem;
                            padding: 10px 15px;
                            border-radius: 27px;
                            border: none;
                            background-image: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%) !important;
                            outline: none;"><a href="/orderhistory" style="color:#ffff;">Order history</a></button>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="/profile" class="nav-link"
                                    aria-expanded="false"><button class="btn-primary" style="font-size: 2.5rem;border: none;outline: none; background-color: transparent;"><i class="bi bi-person-circle" style="color: #ff6c00;"></i></button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                
                <form action="/shop" method="GET" class="d-flex justify-content-between">
                      <input type="text"  name="search" class="form-control" placeholder="Search products" id="search_input">
                      <!-- <button type="submit" class="btn btn-primary">Search</button> -->
                     <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                  </form>

                
                <form >
                 
                   
                </form>
            </div>
        </div>
    </header>
    <!-- End Header Area -->
   
     
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shop Category page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/shop">
                            <p>Shop</span></p>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

<div class="container py-5">
    <div class="row">
        <div class="col-12 mb-3">
          <div class="row" style="float: right;">
            <!-- <div class="border border-danger"> -->
                <input type="search" id="nameSearch" class="rounded border px-3 mx-2" placeholder="Search by name" style="outline: none;">
                <button id="searchButton" class="btn"><span><i class="bi bi-search"></i></span></button>
                <a href="/shop" class="px-3">
                    <button class="btn btn-primary">
                        <span><i class="bi bi-arrow-clockwise"></i></span>
                    </button>
                </a>
            
            <!-- <form action="/shop" method="GET" class="form-inline justify-content-end">
                <select name="sort" class="form-control mr-2" onchange="this.form.submit()">
                  <option value="">Sort by</option>
                  <option value="nameAsc">Name A-Z</option>
                  <option value="nameDesc">Name Z-A</option>
                  <option value="priceAsc">Price Low to High</option>
                  <option value="priceDesc">Price High to Low</option>
                </select>
            </form> -->

            <form action="/shop" method="GET" class="form-inline justify-content-end">
                <select name="sort" class="form-control mr-2" onchange="this.form.submit()">
                  <option value="">Sort by</option>
                  <option value="nameAsc" <%= query.sort === 'nameAsc' ? 'selected' : '' %>>Name A-Z</option>
                  <option value="nameDesc" <%= query.sort === 'nameDesc' ? 'selected' : '' %>>Name Z-A</option>
                  <option value="priceAsc" <%= query.sort === 'priceAsc' ? 'selected' : '' %>>Price Low to High</option>
                  <option value="priceDesc" <%= query.sort === 'priceDesc' ? 'selected' : '' %>>Price High to Low</option>
                </select>
                
               
                <% for (const [key, value] of Object.entries(query)) { %>
                  <% if (key !== 'sort' && key !== 'page') { %>
                    <input type="hidden" name="<%= key %>" value="<%= value %>">
                  <% } %>
                <% } %>
              </form>
          <!-- </div>// -->
        </div>
          
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head" style="background-color: #ff6c00;color: #ffff;">Browse Categories</div>
				<ul class="main-categories">
                    <% if(uniqueCategories && uniqueCategories.length > 0) { %>
                      <% uniqueCategories.forEach(function(category) { %>
                        <li class="main-nav-list mt-2 mb-2">
                          <a href="#" class="category-link" data-category="<%= category %>">
                            <span class="text-capitalize text-center"><%= category %></span>
                          </a>
                        </li>
                      <% }) %>
                    <% } %>
                  </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="common-filter">
                    <div class="head" style="background-color: #ff6c00;color: #fff;">Genders</div>
                    <ul>
                        <li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
                            style="background-color: <%= (query.gender === 'mens') ? '#ff6c00' : 'transparent' %>;">
                            <a href="/shop?gender=mens" class="mx-4" 
                               style="color: <%= (query.gender === 'mens') ? '#ffff' : '#292929' %>; text-decoration: none;">
                                <span>Mens</span>
                            </a>
                        </li>
                        <li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
                            style="background-color: <%= (query.gender === 'womens') ? '#ff6c00' : 'transparent' %>;">
                            <a href="/shop?gender=womens" class="mx-4" 
                               style="color: <%= (query.gender === 'womens') ? '#ffff' : '#292929' %>; text-decoration: none;">
                                <span>Women's</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
                <div class="common-filter">
                    <div class="head" style="background-color: #ff6c00;color: #ffff;">Brands</div>
                     <ul>
                        <li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
                        style="background-color: <%= (query.brand === 'nike') ? '#ff6c00' : 'transparent' %>;">
                            <a href="/shop?brand=nike" class="mx-4" 
                             style="color: <%= (query.brand === 'nike') ? '#ffff' : '#292929' %>; text-decoration: none;">
                                <span class="text-capitalize text-center">nike</span>
                            </a>
                        </li> 
                        <li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
                        style="background-color: <%= (query.brand === 'adidas') ? '#ff6c00' : 'transparent' %>;">
                            <a href="/shop?brand=adidas" class="mx-4" 
                            style="color: <%= (query.brand === 'adidas') ? '#ffff' : '#292929' %>; text-decoration: none;">
                                <span class="text-capitalize text-center">adidas</span>
                            </a>
                        </li> 
                        <li class="main-nav-list text-capitalize mt-2 mb-2 border-bottom shadow-sm py-3"
                        style="background-color: <%= (query.brand === 'puma') ? '#ff6c00' : 'transparent' %>;">
                            <a href="/shop?brand=puma" class="mx-4" 
                            style="color: <%= (query.brand === 'puma') ? '#ffff' : '#292929' %>; text-decoration: none;">
                                <span class="text-capitalize text-center">puma</span>
                            </a>
                        </li>
                       
                     </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <section class="lattest-product-area pb-40 category-list">
                <div class="row flex-wrap shadow" style="height: 78em;">
                    <% if(products && products.length >= 0) { %>
                        <% products.forEach(function(product) { %>

                        <% if(product?.deleted===false){ %>
                            <div class="col-4 single-product shadow mx-5 my-3" style="width: 250px;height: 480px;">
                                <a href="/productDetails/<%= encodeURIComponent(product._id) %>">
                                    <img class="img-fluid" src="<%= product?.variants[0]?.imageUrls[0] %>" alt="img">
                                </a>
                                <div class="product-details">
                                    <h6><%= product?.name %></h6>
                                    <div class="price">
                                        <h6>₹<%= product?.price %></h6>
                                        <h6 class="l-through">₹<%= product?.price + 5000 %></h6>
                                    </div>
                                    <h6>Gender: <%=product?.gender  %></h6>
                                    <h6>Category: <%=product?.category?.name  %></h6>
                                    <h6>band: <%=product?.brand  %></h6>
                                    <div class="prd-bottom d-flex justify-content-around align-items-center">
                                        <a href="/productDetails/<%= encodeURIComponent(product._id) %>">
                                            <button class="btn">
                                                View Details
                                            </button>
                                        </a>
                                        <a  href="/wishlist/add/<%= encodeURIComponent(product._id) %>" class="social-info">
                                            <span class="lnr lnr-heart"></span>
                                            <p class="hover-text">Wishlist</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        <% }) %>
                    <% } else { %>
                        <p class="text-center m-auto fa-2x"><b>No products found.</b></p>
                    <% } %>
                </div>
            </section>
	
           <!-- pagination -->

           <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <% for(let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                  <a class="page-link" href="/shop?page=<%= i %><%= Object.entries(query).filter(([key]) => key !== 'page').map(([key, value]) => `&${key}=${value}`).join('') %>">
                    <%= i %>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
          

        </div>
    </div>
</div>

    <!-- Start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Brand</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src="img/i1.jpg" alt=""></li>
                            <li><img src="img/i2.jpg" alt=""></li>
                            <li><img src="img/i3.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-content-center">
                    <div class="single-footer-widget w-50">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    Copyright &copy;&nbsp;<script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script>

document.addEventListener('DOMContentLoaded', function() {
    const categoryLinks = document.querySelectorAll('.category-link');
    const selectedCategories = new Set();
    const nameSearch = document.getElementById('nameSearch');
    const searchButton = document.getElementById('searchButton');

    categoryLinks.forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        const category = this.getAttribute('data-category');
        
        if (selectedCategories.has(category)) {
          selectedCategories.delete(category);
          this.classList.remove('active');
        } else {
          selectedCategories.add(category);
          this.classList.add('active');
        }

        // Update the URL with selected categories
        const searchParams = new URLSearchParams(window.location.search);
        searchParams.set('category', Array.from(selectedCategories).join(','));
        window.location.search = searchParams.toString();
      });
    });

    searchButton.addEventListener('click', function() {
                const searchParams = new URLSearchParams(window.location.search);
                searchParams.set('search', nameSearch.value);
                window.location.search = searchParams.toString();
            });



  });
      












        $(document).ready(function () {
            // Show search input box when search button is clicked
            $('.search').on('click', function (e) {
                e.preventDefault();
                $('#search_input_box').slideToggle();
                $('#search_input').focus();
            });

            // Hide search input box when close button is clicked
            $('#close_search').on('click', function (e) {
                e.preventDefault();
                $('#search_input_box').slideUp();
            });

            // Handle search form submission
            // $('#search_input_box form').on('submit', function (e) {
            //     e.preventDefault();
            //     var query = $('#search_input').val();
            //     alert('Search for: ' + query);
            //     // You can add your search logic here
            // });
        });
    </script>
</body>
</html>
